# data
### VCR Dataset (MOVIE CLIP)
downstream/UNITER/vcr_data/
### Indomain Dataset
downstream/UNITER/indomain_data/
### COCO Dataset
downstream/UNITER/coco
### additional feature 
data3/
### VC Feature in UNITER
downstream/UNITER/vc_feature
downstream/UNITER/vc_feature_gt
downstream/UNITER/vc_feature_final
downstream/UNITER/vc_feature_gt.tar
downstream/UNITER/vc_feature_final.tar

# pretrained model
pretrained/
### VC R-CNN pretrained model
model_final.pth
last_checkpoint

# output
### VC R-CNN
output/
output_test/
### UNITER output etc
downstream/UNITER/storage
downstream/UNITER/output
downstream/UNITER/output_pretrain1
downstream/UNITER/ouput1
downstream/UNITER/output1/*
downstream/UNITER/output2
downstream/UNITER/output3
downstream/UNITER/output5
downstream/UNITER/output_train
downstream/UNITER/output_val
downstream/UNITER/output_test
### UNITER pretrain output
downstream/UNITER/output_pretrain2_2000_val_error
downstream/UNITER/output_pretrain3_2200_val_error
downstream/UNITER/output_pretrain4_7700_train_error
downstream/UNITER/output_pretrain5_2600_success
downstream/UNITER/output_success_45000
downstream/UNITER/output_pretrain_do_calculus/
downstream/UNITER/output_pretrain_do_calculus_nohup/
### UNITER finetune output
downstream/UNITER/failed_finetune_ouput
downstream/UNITER/finetune_output
downstream/UNITER/vcr_train_output
downstream/UNITER/output_train_do_calculus/
downstream/UNITER/output_train_do_calculus_hohup/
### UNITER bouding box
downstream/UNITER/bbox_set
downstream/UNITER/bbox
downstream/UNITER/bbox_gt
downstream/UNITER/bbox_train
downstream/UNITER/bbox_val
downstream/UNITER/bbox_test
downstream/UNITER/bbox_gt_train
downstream/UNITER/bbox_gt_val
downstream/UNITER/bbox_gt_test
downstream/UNITER/bbox_ver1
downstream/UNITER/bbox.tar
downstream/UNITER/bbox_gt.tar
### confounder dictionary & prior
downstream/UNITER/conf_and_prior
downstream/UNITER/conf_and_prior_version1_uniter

# files for do-calculus
dic_coco*
stat_prob*
object_tags.txt 
downstream/UNITER/vcr_etc_label.txt
vcr_etc_label.txt

# etc
__pycache__
*.pyc
downstream/UNITER/find.py
downstream/UNITER/nohup.out
nohup.out


# Created by https://www.toptal.com/developers/gitignore/api/python,jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=python,jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook

# IPython

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# End of https://www.toptal.com/developers/gitignore/api/python,jupyternotebooks
