# data
### VCR Dataset (MOVIE CLIP)
downstream/UNITER/vcr_data/
### additional feature 
data3/
### VC Feature in UNITER
downstream/UNITER/vc_feature
downstream/UNITER/vc_feature_gt
downstream/UNITER/vc_feature_final
downstream/UNITER/vc_feature_gt.tar
downstream/UNITER/vc_feature_final.tar
# pretrained model
pretrained/

# output
### VC R-CNN
output/
output_test/
### UNITER 
downstream/UNITER/storage
downstream/UNITER/output
downstream/UNITER/output_pretrain1
downstream/UNITER/ouput1
downstream/UNITER/output2
downstream/UNITER/output3
downstream/UNITER/output5
downstream/UNITER/output_train
downstream/UNITER/output_val
downstream/UNITER/output_test
downstream/UNITER/output_pretrain2_2000_val_error
### UNITER bouding box
downstream/UNITER/bbox_set
downstream/UNITER/bbox
downstream/UNITER/bbox_gt
downstream/UNITER/bbox_train
downstream/UNITER/bbox_val
downstream/UNITER/bbox_test
downstream/UNITER/bbox_gt_train
downstream/UNITER/bbox_gt_val
downstream/UNITER/bbox_gt_test
downstream/UNITER/bbox_ver1
downstream/UNITER/bbox.tar
downstream/UNITER/bbox_gt.tar

# etc
__pycache__
*.pyc
downstream/UNITER/find.py
downstream/UNITER/nohup.out
