# data
### VCR Dataset (MOVIE CLIP)
downstream/UNITER/vcr_data/
### additional feature 
data3/

# pretrained model
pretrained/

# output
### VC R-CNN
output/
output_test/
### UNITER 
downstream/UNITER/storage
downstream/UNITER/output
downstream/UNITER/ouput1

# etc
*__pycache__*
